[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.22.0"

[dev-packages]
autopep8 = "==1.4.4"
pycodestyle = "==2.5.0"
pylint = "==2.3.1"

[requires]
python_version = "3.9.1"
